body {
/*set font!*/
font-family: 'JetBrains Mono', monospace;

/*Center Content: all of it!*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh; /*100 % of viewport height*/
position: relative;

/*Set background color: black and text color: white*/
background-color: black; /*this is for the whole page body*/
color: white;
}

/*center text on divs*/
.clock, .date, .weather {
    text-align: center;
}

.clock {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    margin-left: 2rem;
    gap: 0.5rem;
    font-size: 8rem;
    font-weight: bold;
}

.date {
    font-size: 3rem;
    opacity: 0.8;
}

.weather {
    font-size: 2rem;
    opacity: 0.8 
}

header {
    font-size: 2rem;
    opacity: 0.8;
    position: absolute;
    top: 2rem;
}

.ampm {
    font-size: 2rem;
    opacity: 0.8;
}

